/* ------------Global CSS-------------- */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #f5f5d5;
    color: white;
}

.container{
    padding: 10px 10%;
}

/* ------------nav-bar-------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.ul-head {
    padding: 10px 90px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*------------header-section--------------*/

.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/contact-bg.jpg);
    position: relative;
}

.header-section h1{
    font-size: 75px;
    margin: 20%;
    text-align: center;
}

/* ------------contact------------- */

.contact-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: black;
}

.left-column {
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    margin-right: 20px;
}

.left-column h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.left-column p {
    margin: 5px 0;
    font-size: 24px;
    font-weight: 600;
}

.left-column .fa-solid{
  padding-right: 25px;
  font-size: 30px;
}

.right-column {
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.pill-nav {
    background-color: #C7B793;
    border-radius: 50px;
    display: flex;
    margin: auto;
    width: 248px;
    justify-content: center;
}

.pill-nav button {
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px 30px;
    position: relative;
    color: white;
    cursor: pointer;
}

.pill-nav button.active {
    background-color: #d9d9d9;
    border-radius: 50px;
}

.pill-align{
    margin-bottom: 10px;
}

form {
    display: none;
}

.form-container{
    background-color: #C7B793;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

form.active {
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

form button {
    background-color: #8F9367;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

form button:hover {
    background-color: #717652;
}

/* --------Footer section---------- */

.footer {
    background-color: #8f9367;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.top p {
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.top  ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.top ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    list-style: none;
}

.bottom {
    text-align: center;
}

.bottom img{
    width: 50%;
}

.social-brands {
    display: flex;
}

.social-brands a i {
    transition: transform 0.5s;
}

.social-brands a i:hover {
    color: white;
    transform: translateY(-5px);
}

.fa-brands {
    color: white;
    font-size: 25px;
    margin: 0 20px;
}