* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
     background: url(../Images/bg.jpg);
}

.container{
    padding: 10px 10%;
}

/* ------------nav-bar-------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul LI a:hover::after {
    width: 100%;
}

.header{
    background: gray;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}


.accordion {
    padding: 50px;
}

.accordion-button {
    background-color: #2977bc;
    color: #fff;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.resources{
    padding-bottom: 51px;
}

.resources h2{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.wrapper{
    /* display: none; */
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 20px;
}

.fa-circle-info {
    color: blue;
    font-size: 18px;
}

.footer{
    background: rgb(58, 83, 42);
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.footer a{
    color: white;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}