* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
     background: white;
     overflow-x: hidden;
     
}

.container{
    padding: 10px 10%;
}

.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/Images/service-bg.jpg);
    position: relative;
    margin: auto;
}

/* ------------nav-bar-------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: gray;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul LI a:hover::after {
    width: 100%;
}

.nav-content{
    background: gray;
    width: 45%;
    border-radius: 20px;
    margin: 5px 300px;
    text-align: center;
    justify-content: right;
}

.logo{
    font-size: 45px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    color: rgba(0, 128, 0, 0.807);
}

.header{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.header-section h1{
    font-size: 75px;
    margin: 20%;
    color: white;
    text-align: center;
}

.sub-header{
    margin: 20px;
    justify-content: center;
    text-align: center;
}

/* ------------main body------------- */

.menu-section h1{
    text-align: center;
    font-size: 30px;
    padding: 5px;
}


.tab-titles {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}


.tab-titles ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: black;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.table-container p{
    font-size: 18px;
}

.menu-body{
    background: #D9D9D9;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    border-radius: 18px;
}

.slider-wrapper{
position: relative;
margin: 10px;
overflow: hidden;
}

.slider{
    width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
}

.slider .list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider .item {
    min-width: 300px; 
    margin: 0 10px; 
}

.card a{
    cursor: pointer;
    padding-bottom: 5px;
}


.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}

.list .card {
    background: rgb(193, 191, 191);
    border-radius: 20px;
    text-align: center;
    height: 70%;
    object-fit: cover;
    margin: 50px;
    margin-bottom: 10px;
    min-width: 300px; 
    max-width: 350px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-shadow: inset;
}

.card h1 {
    margin: 0; 
    padding-bottom: 10px; 
    font-size: 24px;
}


.card p {
    margin: 20px;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;

}


.buttons{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(25, 24, 24, 0.333);
    color: black;
    border: none;
    font-family: monospace;
}

/* .dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.dots li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.dots li.active {
    background-color: #333;
} */

.question-head{
    text-align: center;
    margin: 5px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 75%;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Footer */

.footer {
    background-color: rgba(3, 90, 3, 0.911);
    
}

.foot-container{
    padding: 10px 8%;
}

.top{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    margin: 20px 10px;
}

.info-card{
    min-width: 120px;
}

.info-card ul li{
    list-style-type: none;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}
.info-card ul li a:hover{
    text-decoration: underline;
}

.social-brands{
    text-align: center;
    margin: 30px 0;
}

.social-brands a i{
    transition: transform 0.5s;
}

.social-brands a i:hover{
    color: white;
    transform: translateY(-5px);
}
.fa-brands{
    color: black;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p{
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p{
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}