* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #8f9367;
    color: white;
}

.container{
    padding: 10px 10%;
}
.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/Images/jobs-bg.jpg);
    position: relative;
}

/* ------------nav-bar-------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: gray;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul LI a:hover::after {
    width: 100%;
}

.nav-content{
    background: gray;
    width: 45%;
    border-radius: 20px;
    margin: 5px 300px;
    text-align: center;
}

.logo{
    font-size: 45px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    color: rgba(0, 128, 0, 0.807);
}

.header{
    display: flex;
    justify-content: center;
}
.header-section h1{
    font-size: 75px;
    margin: 20%;
    color: white;
    text-align: center;
}
.jobs {
    margin: 20px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 10px 20px 30px -10px;
}

.jobs ul li a{
    color: #2ea728;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.jobs ul li a:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 75%;
}

h2, h3 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

/* Footer */

.footer {
    background-color: rgba(3, 90, 3, 0.911);
    
}

.foot-container{
    padding: 10px 8%;
}

.top{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    margin: 20px 10px;
}

.info-card{
    min-width: 120px;
}

.info-card ul li{
    list-style-type: none;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}
.info-card ul li a:hover{
    text-decoration: underline;
}

.social-brands{
    text-align: center;
    margin: 30px 0;
}

.social-brands a i{
    transition: transform 0.5s;
}

.social-brands a i:hover{
    color: white;
    transform: translateY(-5px);
}
.fa-brands{
    color: black;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p{
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p{
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}