* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
     background: url(../Images/bg.jpg);
}

.container{
    padding: 10px 10%;
}

/* ------------nav-bar-------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul LI a:hover::after {
    width: 100%;
}

.header{
    background: gray;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.jobs {
    margin: 20px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 20px;
}

.jobs ul li a{
    color: #2ea728;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.jobs ul li a:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 75%;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.footer{
    background: rgb(58, 83, 42);
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.footer a{
    color: white;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}