/* ------------Header Section------------- */

.header-section-contact {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Contact/Images/contact-bg.jpg);
    position: relative;
}

.header-section-contact h1{
    font-size: 75px;
    margin: 20%;
    text-align: center;
}

/* ------------Contact Section------------- */

.contact-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: black;
}

.left-column {
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    margin-right: 20px;
}

.left-column h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.left-column p {
    margin: 5px 0;
    font-size: 24px;
    font-weight: 600;
}

.left-column .fa-solid {
    padding-right: 25px;
    font-size: 30px;
}

.right-column {
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.pill-align {
    margin-bottom: 10px;
}

.pill-nav {
    background-color: #C7B793;
    border-radius: 50px;
    display: flex;
    margin: auto;
    width: 248px;
    justify-content: center;
}

.pill-nav button {
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px 30px;
    position: relative;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.pill-nav button.active {
    background-color: #d9d9d9;
    border-radius: 50px;
    color: black;
}

.form-container {
    background-color: #C7B793;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

form {
    display: none;
}

form.active {
    display: block;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

form button {
    background-color: #8F9367;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #717652;
}
